.footer-container {
	height: 120px;
	background-color: var(--primary-color);
	color: #fff;
	padding: 10px 300px;
}

@media screen and (max-width: 820px) {
	.footer-container {
		padding: 10px 16px;
	}
}
