.nav {
    height: 73px;
    background: #000000d0;
    border-bottom: 3px solid rgb(44, 44, 44);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0 300px 0px 300px;
    color: #fff;
    user-select: none;
}