.section h2 {
	margin-bottom: 12px;
}

.section:nth-child(2n) {
	background-color: #333;
}

.section:nth-child(2n) h2 {
	color: #fff;
}

.contents-containers {
	height: 462px;
	padding: 0 220px;
}

.contents-containers h2 {
	padding-top: 80px;
	font-size: 36px;
}

.pram {
	font-size: 20px;
	padding: 0 20px 24px 20px;
}

.lorem-pram-light {
	color: #fff;
}

.lorem-pram-dark {
	color: #000;
}
.box {
	transition: 0.4s;
	text-align: center;
}

.box:hover {
	background-color: var(--primary-btn-color);
	border-color: var(--primary-btn-color);
	color: #fff;
	cursor: pointer;
}

.fa-4x + .box-label {
	padding-top: 16px;
	font-size: 1.5rem;
	font-weight: 600;
}

@media screen and (max-width: 1500px) {
	.contents-containers {
		padding: 0 100px 0 100px;
		text-align: center;
	}
}

@media screen and (max-width: 1439px) {
	#section2 {
		height: 687px;
	}
}

@media screen and (max-width: 1206px) {
	#section2 {
		height: 714px;
	}
}

@media screen and (max-width: 1002px) {
	#section2 {
		height: 741px;
	}
}

@media screen and (max-width: 924px) {
	.contents-containers {
		padding: 0px;
	}
	#section2 {
		height: 1204px;
	}
}
@media screen and (max-width: 400px) {
	.contents-containers {
		height: 490px;
	}
}
