.main-contents{
    padding: 0 300px 0 300px;
}

.contents-containers{
    margin-top: 40px;
}
@media screen and (max-width:1500px){
    .main-contents{
        padding: 0 100px 0 100px;
    }
}