.section-curriculum{
    display: grid;
    grid-gap: 0;
    grid-template-areas:
        'curriculum-contents curriculum-contents curriculum curriculum-goal'
        'curriculum-contents curriculum-contents curriculum-schedule scholarship';
}

.curriculum-contents {
    grid-area: curriculum-contents;
    min-height: 462px;
    justify-content: center;
    max-width: 849px;
}

.curriculum-contents > p {
    padding: 0 20px 24px 20px;
}

.box {
    padding: 20px;
    padding-top: 62px;
    min-width: 280px;
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
}

.box:nth-child(2n) {
    border-left: 1px solid #c2c2c2;
}

.curriculum {
    grid-area: curriculum;
}

.curriculum-goal {
    grid-area: curriculum-goal;
}

.curriculum-schedule {
    grid-area: curriculum-schedule;
}

.scholarship {
    grid-area: scholarship;
}

@media screen and (max-width: 1440px) {
    .curriculum-container {
        min-height: 643px;
    }

    .section-curriculum {
        display: grid;
        grid-gap: 0;
        grid-template-areas:
            'curriculum-contents curriculum-contents'
            'curriculum curriculum-goal'
            'curriculum-schedule scholarship';
    }

    .box {
        padding: 10px;
        border: none;
        border-top: 1px solid #c2c2c2;
        border-right: 1px solid #c2c2c2;
    }

    .curriculum-contents {
        
        min-height: 200px;
    }

    .curriculum {
        min-height: 200px;
    }
    
    .curriculum-goal {
        min-height: 200px;
    }
    
    .curriculum-schedule {
        min-height: 200px;
    }
    
    .scholarship {
        min-height: 200px;
    }
}
@media screen and (max-width: 400px){
    .contents-containers{
        height: 490px;
    }
}
@media screen and (max-width: 924px) {
    .curriculum-container {
        min-height: 1327px;
        padding: 0;
    }
    
    .box {
        border: none;
        border-top: 1px solid #c2c2c2;
    }

    .box:nth-child(2n) {
        border-left: none;
    }

    .section-curriculum {
        display: grid;
        grid-gap: 0;
        grid-template-areas:
            'curriculum-contents'
            'curriculum'
            'curriculum-goal'
            'curriculum-schedule'
            'scholarship';
    }

    .curriculum-contents {
        min-height: 300px;
        border: none;
    }

    .section-curriculum .curriculum{
        margin-top: 20px;
    }

    .curriculum {
        min-height: 200px;
    }
    
    .curriculum-goal {
        min-height: 200px;
    }
    
    .curriculum-schedule {
        min-height: 200px;
    }
    
    .scholarship {
        min-height: 200px;
    }
}