.image-slide{
    width: 100vw;
    height: calc(100vw / 16 * 9 - 180px);
}

.slide-image-box {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.jumbo-image-about{
    padding: 0 48px;
    position: absolute;
    width: 100%;
    height: calc(100vw / 16 * 9 - 180px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.image-slide{
    display: flex;
}

.jumbo-image-about{
    display: none;
    
    font-size: 80px;
    font-weight: bold;
    color: #fff
}

.image-about:hover{
    background-color: rgb(0, 0, 0);
}

.slide-image-box:hover > .jumbo-image-about{
    display: block;
    background-color: rgba(0, 0, 0, 0.500);
    z-index: 99;
}

.slide-image-animation{
    transition: 0.6s;
    animation: animateright 0.7s;
}

.navigation{
    position: absolute;
    top: calc(100vw / 16 * 9 - 150px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    z-index: 999;
}

.circle-nav-btn{
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.circle-nav-btn:hover{
    background-color: #fff;
}

#r0:checked ~ .navigation > label#dot0{
    background-color: #fff;
}

.radio-btn{
    position: absolute;
    visibility: hidden;
}

@keyframes animateright{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }

    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@media screen and (max-width:800px){
    .jumbo-image-about{
        top: 63px;
    }
}