.majors{
    margin-top: 10px;
    width: 100%;
    background-color: var(--background-color);
}

.major-kind{
    margin: auto;
    width: 12%;
}

.major-kind span{
    font-size: 1.4rem;
    cursor: pointer;
}

.major-kind span:hover{
    border-bottom: 2px solid var(--primary-btn-color)
}

.major-kind span+span{
    margin-left: 10px;
}

.curriculum-contents h2{
    padding-top: 80px;
}